<h1>
    Welcome to Angular!
</h1>

<button (click)="toggle = !toggle">Toggle</button>

 <p *ngIf="toggle; else blueP" class="red">
   Пространство между контентом сеток получило карту Sass, 
   так что теперь вы можете задать его ширину на каждом брейпкойнте.
  </p>

  <ng-template #blueP>
    <p class="blue">
        Bootstrap имеет некоторые предопределенные стили кнопок, 
        каждый из которых имеет свою семантическую цель.
      </p> 
  </ng-template>

 




 <!-- <button (click)="backgroundToggle = !backgroundToggle">Toggle</button>   -->
<!-- <div [ngStyle]="{

  width: '200px',
  height: '200px',
  borderRadius: '5px',
  border: '1px solid #ccc',
  background: backgroundToggle ? 'red' : 'blue'

}">
</div> -->

<!-- <p [ngClass]="{
  red: backgroundToggle,
  blue: !backgroundToggle
}">
  Изменилась брейкпойнты медиа-запросов системы сеток 
  и ширины контейнеров, что учитывает новые ярусы сеток 
  и дает колонкам возможность ровно разделиться

</p> -->

<!-- <p 
[class.blue]="!backgroundToggle"
[class.red]="backgroundToggle"
> Изменилась брейкпойнты медиа-запросов системы сеток 
    и ширины контейнеров</p> -->